body {
    font-family: 'Concert One', cursive;
    color: white;
}

.left {
    background-color: #464C62;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.interface {
    text-align: center;
    padding: 20px;
}

a.button {
    display: inline-block;
    background-color: white;
    color: #464C62;
    padding: 6px 20px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;  
    transition: color 300ms;
    transition: background-color 300ms;
}

a:hover {
    color: white;
    background-color: #212E41;
}

.right {
    background-color: #404559;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground {
    background: url('../img/ground.png') no-repeat center 0;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
}

.nervous {
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin-left: -130px;
    background: url('../img/nervous.png') no-repeat 0 0;
    width: 120px;
    height: 83px;
    display: none;
}

.nervous.show {
    display: block;
}

.cant-wait {
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: 20px;
    background: url('../img/cant-wait.png') no-repeat 0 0;
    width: 103px;
    height: 67px;
    display: none;
}

.cant-wait.show {
    display: block;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 160px;
    height: 200px;
    margin-left: -80px;
    background: url('../img/rocket-state1.png') no-repeat 0 0;
    transition: bottom 10000ms;
}

/* rocket bg image */
body.body-state2 .rocket {
    background-image: url('../img/rocket-state2-blue.gif');
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    background-image: url('../img/rocket-state3-blue.gif');
}

body.body-state5 .rocket {
    background-image: url('../img/boom.png');
    width: 129px;
    height: 86px;
    margin-left: -64.5‬px;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 2000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}


body.body-state1 .state1 {
    display: block;
}

body.body-state2 .state2 {
    display: block;
}

body.body-state3 .state3 {
    display: block;
}

body.body-state4 .state4 {
    display: block;
}

body.body-state5 .state5 {
    display: block;
}

a {}

a .button {}
